nav a#bill {
    color: #198EE0;
}
nav a#bill:after {
    background-color: #E7F3FC;
}

#finanzen {
}

#finanzen .content-wrapper {
}
#finanzen .content-wrapper .bill{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#finanzen .content-wrapper .bill .users{
    width: 100%;
}