body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* TYPOGRAPHY */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}


a {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}


/* NAVIGATION */

nav {
    background-color: white;
    box-shadow: 0 0 6px #2424245e;
    height: 100vh;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 80px;
}

nav a {
    align-items: center;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

nav a .icon {
    font-size: 16px;
}
nav a:after  {
    background-color: transparent;
    border-radius: 50px;
    content: "";
    height: 50px;
    left: calc(50% - 25px);
    position: absolute;
    transition: .2s;
    top: calc(50% - 25px);
    width: 50px;
    z-index: -1;
}
nav a:hover:after {
    background-color: #E7F3FC;
}

main {
    margin: auto;
    max-width: 1400px;
}
.content-wrapper{
    margin: auto;
    max-width: 1200px;
}