body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
body.overflowHidden {
    overflow: hidden;
}
/* TYPOGRAPHY */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
}


label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

a {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.red {
    color: #E0322F;
}
.comment {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}
.btn {
    background-color: #F7FBFE;
    border: 0px solid transparent;
    border-radius: 2px;
    color: #198EE0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    transition: .2s;
    transform: scale(1);
}
.btn:hover {
    transform: scale(1.1);
}
    /* NAVIGATION */

nav {
    background-color: white;
    box-shadow: 0 0 6px #2424245e;
    height: 100vh;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 80px;
    z-index: 10;
}

nav a {
    align-items: center;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

nav a .icon {
    font-size: 16px;
}
nav a:after  {
    background-color: transparent;
    border-radius: 50px;
    content: "";
    height: 50px;
    left: calc(50% - 25px);
    position: absolute;
    transition: .2s;
    top: calc(50% - 25px);
    width: 50px;
    z-index: -1;
}
nav a:hover:after {
    background-color: #E7F3FC;
}

main {
    margin: auto;
    max-width: 1400px;
}
.content-wrapper{
    margin: auto;
    max-width: 1200px;
}


/* GENERAL INPUTS*/

.input-wrapper input{
    border: 2px solid #E7F3FC;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
    width: 100%;
    padding: 16px;
}


/* ADD POPUP */
.add-popup{
    align-items: center;
    background-color: rgba(0,0,0,.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.add-popup.hidden {
    display: none;
}
.add-popup form {
    align-items: flex-end;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgb(136 136 136);
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 700px;
    padding: 50px;
    width: calc(100% - 50px);
}
.add-popup form .icon {
    cursor: pointer;
}
.add-popup form h2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
.add-popup form .input-wrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
.add-popup form .checkbox-wrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px 0;
    width: 100%;
}
.add-popup form .checkbox-wrapper label{
    border: 2px solid #E7F3FC;
    box-sizing: border-box;
    background-color: #F7FBFE;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 16px;
    min-width: 100px;
    text-align: center;
    transition: .2s;
    padding: 16px;
}
.add-popup form .checkbox-wrapper label:hover {
    background-color: #E7F3FC;
}
.add-popup form .checkbox-wrapper input{
    display: none;
}
.add-popup form .checkbox-wrapper input[type=checkbox]:checked + label {
    border: 2px solid #198EE0;
    background-color: #E7F3FC;
     color: #198EE0;
     font-style: normal;
 }

@media screen and(min-width: 500px) {
    .add-popup form {
        width: 100%;
    }
}