nav a#todo {
    color: #198EE0;
}
nav a#todo:after {
    background-color: #E7F3FC;
}
#채mtli .content-wrapper .todo{
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
}
#채mtli .content-wrapper .add-popup-open-btn{
    margin: 50px 0 20px 0;
    padding: 20px 0;
    width: 100%;
}
#채mtli .content-wrapper .todo .user{
    align-items: center;
    border-top: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 16px 40px;
    width: 100%;
}

#채mtli .content-wrapper .delete-button-wrapper{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
}