<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/layout::html(~{::title},~{::link},~{::main})">
    <title>WGApp | Finanzen</title>
    <link rel="stylesheet" href="../../static/bills.css" th:href="@{/bills.css}">
    <main id="finanzen">
        <h1>Finanzen</h1>
        <h3>Erfasse deine Einkäufe hier.</h3>
        <section class="content-wrapper">
            <div class="bill" th:each="bill: ${allBills}">
                <h4 th:text="${bill.description}"></h4>
                <p th:text="${currentUser}"></p>
                <p class="bold" th:text="'CHF ' + ${bill.amount}"></p>
                <div class="users">
                    <p th:each="user: ${bill.users}" th:text="${user.username}"></p>
                </div>
                <form th:action="'finanzen/löschen/' + @{${bill.id}}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </section>

        <form th:action="${add}" method="post">
            <label for="description" class="padded-label">description:</label>
            <input type="text" name="description" id="description" title="description must not be empty">

            <label for="amount" class="padded-label">amount:</label>
            <input type="number" name="amount" id="amount" step="0.01" title="amount must not be empty">

            <div th:each="user: ${users}" >
                <label th:for="${user.username}" th:text="${user.username}" class="padded-label"></label>
                <input type="checkbox" name="userIDs" th:value="${user.id}" th:id="${user.username}">
            </div>
            <button type="submit">Create New</button>
        </form>
    </main>
</html>