<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout::html(~{::title},~{::link},~{::main})">
    <title>WGApp</title>
    <link rel="stylesheet" href="../../static/profile.css" th:href="@{/profile.css}">
    <main id="profile">
        <h1 th:text="'Hallo '+${currentUser}"> </h1>
        <h3>Hier hast du eine Übersicht über alle deine Daten.</h3>
        <section class="content-wrapper">
            <article id="todos">
                <h2>Deine Todos</h2>

                <div th:each="todo: ${currentUserToDos}" class="todo">
                    <form th:action="'todos/update/' + @{${todo.id}}" method="post" class="input-wrapper">
                        <input type="checkbox" name="isDone" th:id="'isDone-' + ${todo.id}" onchange="this.parentElement.submit()">
                        <label th:for="'isDone-' + ${todo.id}" th:text="${todo.description}"></label>
                    </form>
                    <p th:class="${todo.currentDeadline.before(#dates.createNow())} ? 'red deadline' : 'deadline'" th:text="${#dates.format(todo.currentDeadline, 'dd.MM.yyyy')}"></p>
                </div>
            </article>
            <article id="finanzen">
                <h2>Deine Finanzen</h2>
                <h3>Du schuldest insgesammt <span class="red" th:text="'CHF '+${#numbers.formatDecimal(debt, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></h3>
                <div class="bill" th:each="bill: ${currentUserBills}">
                    <p th:text="${bill.description}"></p>
                    <p class="comment" th:text="'an ' + ${bill.creator.username}"></p>
                    <p class="bold" th:text="'CHF ' + ${#numbers.formatDecimal(bill.amount / (#lists.size(bill.users) + 1), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                </div>
                <h3>Dir werden <span class="red" th:text="'CHF '+${#numbers.formatDecimal(credit, 1, 'DEFAULT', 2, 'DEFAULT')}"></span> geschuldet.</h3>
                <div class="bill" th:each="bill: ${currentUserBillsCreated}">
                    <p th:text="${bill.description}"></p>
                    <p class="bold" th:text="'CHF ' + ${#numbers.formatDecimal((bill.amount / (#lists.size(bill.users) + 1) * #lists.size(bill.users)), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                </div>
            </article>
        </section>
    </main>
</html>