<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout::html(~{::title},~{::link},~{::main})">
<title>WGApp | Ämtli</title>
<link rel="stylesheet" href="../../static/todos.css" th:href="@{/todos.css}">
<main>
    <div th:each="todo: ${allTodos}">
        <p th:text="${todo.description}"></p>
        <p th:text="${todo.days}">Tage</p>
        <p th:text="${todo.currentAssignee}"></p>
        <p th:text="${todo.currentDeadline}"></p>
    </div>

    <button class="btn add-popup-open-btn openPopupJS"><span class="icon ti-plus"></span></br>Todo hinzufügen</button>
    <section class="add-popup hidden popupJS">
        <form th:action="${add}" method="post">
            <h2>Neues Ämtli <span class="icon ti-close closePopupJS"></span></h2>

            <label for="description" class="padded-label">Description:</label>
            <input type="text" name="description" id="description" title="description must not be empty">

            <label for="days" class="padded-label">Days:</label>
            <input type="number" name="days" id="days" title="days must not be empty">

            <label for="currentAssignee" class="padded-label">Current Assignee:</label>
            <input type="text" name="currentAssignee" id="currentAssignee" title="current assignee must not be empty">

            <label for="currentDeadline" class="padded-label">Current Deadline:</label>
            <input type="date" name="currentDeadline" id="currentDeadline" title="current deadline must not be empty">

            <button type="submit">Erstellen</button>
        </form>
    </section>
</main>
</html>